<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="::APP_PACKAGE::" android:versionCode="::APP_BUILD_NUMBER::" android:versionName="::APP_VERSION::" android:installLocation="::ANDROID_INSTALL_LOCATION::">
  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application>
         <activity android:name="com.facebook.ads.InterstitialAdActivity"
         android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
         
         <activity android:name="com.facebook.ads.AdView"
         android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
         android:hardwareAccelerated="false" />
         
         <activity android:name="com.facebook.ads.VideoAdActivity"
         android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>
	
	
</manifest>